/* TODO Add site wide styles */
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

#root {
  height: 100vh;
  width: 100%;
}

@import "./css/navbar.css";
@import "./css/homepage.css";
@import "./css/login.css";
@import "./css/signup.css";
@import "./css/store.css";
@import "./css/dashboard.css";
