/* TODO Add site wide styles */
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Courier";
}

#root {
  height: 100%;
  width: 100%;
}

@import "./css/navbar.css";
@import "./css/userpage.css";
@import "./css/login.css";
@import "./css/signup.css";
@import "./css/display.css";
@import "./css/dashboard.css";
@import "./css/product.css";
@import "./css/adminpage.css";
@import "./css/addproduct.css";
@import "./css/adminpage.css";
@import "./css/adminproduct.css";
@import "./css/editproduct.css";
@import "./css/footer.css";
