.adminWrapper {
  width: 100%;
  height: 90%;
}

.admin__content {
  display: flex;
  flex: row;
  width: 100%;
  height: 100%;
}

.admin__content-leftnav {
  width: 20%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin__content-links {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.admin__content-link {
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.admin__content-link:hover {
  text-decoration: underline;
}

.admin__content-right {
  width: 80%;
  /* display: flex;
  flex-direction: column; */
}

.adminBanner {
  height: 150px;
  width: 100%;
  background-image: url("https://i.imgur.com/IQj1Pll.jpg");
  background-size: cover;
  background-position: center;
}

.adminGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
