.cartTotal {
  position: absolute;
  color: white;
  font-size: 38;
  top: 230px;
  right: 125px;
}

.cartTotal__link {
  color: white;
  text-decoration: none;
}

.cartTotal__link:hover {
  text-decoration: underline;
}

.cartWrapper {
  border: 1px solid black;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.cartItems {
  width: 70%;
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItems__none {
  text-align: center;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cartTotals {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
