.cartItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-items: center; */
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  width: 500px;
  height: 150px;
  /* position: relative; */
  /* overflow: hidden; */
  border: 3px solid black;
}

.cartItemImage {
  margin-left: 25px;
  height: 145px;
  width: 145px;
}

.cartItemDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  text-align: center;
}

.cartItemRemove {
  width: 125px;
  margin-top: 15px;
}

.cartItemPrice {
  margin-right: 20px;
}

.cartItemImage__link {
  opacity: 0;
  padding: 5px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .cartItemWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-items: center; */
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 325px;
    height: 150px;
    /* position: relative; */
    /* overflow: hidden; */
    border: 3px solid black;
  }
}
