.cartWrapper {
  border: 1px solid black;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.cartItems {
  width: 70%;
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItems__none {
  text-align: center;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cartTotals {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .cartWrapper {
    border: 1px solid black;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
  }

  .cartItems {
    width: 100%;
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cartTotals {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
