.displayBanner {
  height: 150px;
  width: 100%;
  background-image: url("https://i.imgur.com/IQj1Pll.jpg");
  background-size: cover;
  background-position: center;
}

.displayGrid__admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.displayGrid__users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
