.editProductWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
  width: 100%;
  height: 100%;
}

.editProduct__form {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 250px;
  height: 45%;
  max-height: 400px;
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
} */

.editProduct__form-input {
  margin-top: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.editProduct__form-file {
  background-color: rgb(199, 199, 199);
  width: 100%;
  height: 20px;
  text-align: center;
  border: 1px solid dimgray;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 2px;
}

.editProduct__form-file:hover {
  background-color: rgb(161, 161, 161);
}

input[type="file"] {
  display: none;
  color: transparent;
}

.editProduct__preview-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 250px;
  height: 40%;
  margin-top: 10px;
  border: solid 1px black;
}

.editProduct__imagepreview {
  height: 100%;
  width: 100%;
}
