.navbarContainer {
  width: 100%;
  height: 75px;
  /* border-bottom: solid 5px black; */
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/* .navbarContainer__logo {
  width: 5%;
  min-width: 100px;
  background-image: url("https://i.imgur.com/DrP0F30.png");
  background-image: url("https://i.imgur.com/iBzt8ws.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.navbarContainer__links {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.navbarContainer__links-navlink {
  font-size: 36px;
  text-decoration: none;
  padding: 0px 10px;
  color: black;
}

.navbarContainer__links-navlink:hover {
  text-decoration: underline;
}
