.navbarContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 25px;
  animation: nav-load 1000ms ease-in;
  z-index: 0;
}

.navbarContainer__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbarContainer__link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.navbarContainer__links-navlink {
  font-size: 36px;
  text-decoration: none;
  padding: 0px 10px;
  color: black;
}

.navbarContainer__links-navlink:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .navbarContainer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 25px;
    animation: nav-load 1000ms ease-in;
    z-index: 0;
  }

  .navbarContainer__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbarContainer__link {
    color: black;
    text-decoration: none;
  }

  .navbarContainer__links-navlink {
    font-size: 36px;
    text-decoration: none;
    padding: 0px 10px;
    color: black;
  }

  .navbarContainer__links-navlink:hover {
    text-decoration: underline;
  }
}

@keyframes nav-load {
  0% {
    display: none;
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
