.signupWrapper {
  height: 100vh;
  margin-top: -180px;
  /* background-color: #f0f0f0; */
}

.signupContainer {
  box-sizing: border-box;
  background-color: ;
  position: relative;
  margin-top: 0;
  left: 0;
  right: 0;
  top: 275px;
  bottom: 50%;
  text-align: center;
  min-height: 525px;
  max-width: 398px;
  margin: auto;
}

.signupContainer__form-label {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  font-size: 28px;
}

.signupContainer__form-input {
  box-sizing: border-box;
  min-height: 42px;
  margin-bottom: 15px;
  width: 90%;
  color: #282828;
  background-color: #fff;
  border-color: #dcdedd;
  padding: 8px 16px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
}
.signupContainer__form-input:focus {
  box-shadow: 0 0 0 1px #009e74;
  outline: 0;
}
.signupContainer__form-bad-input {
  outline: none;
  border-color: red;
  box-sizing: border-box;
  min-height: 48px;
  width: 90%;
  color: #111;
  background-color: #fff;
  padding: 8px 16px;
  margin: 4px;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
}
.signupContainer__form-button {
  box-sizing: border-box;
  min-height: 40px;
  height: 40px;
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: #484848;
  color: white;
  font-size: 14px;
  border: none;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}
.signupContainer__form-button:hover {
  background-color: #656565;
}
.signupContainer__form-button:focus {
  outline: none;
}
