.userpageContainer {
  height: 100%;
  width: 100%;
}

.userpageBanner {
  height: 240px;
  width: 100%;
  margin-top: 20px;
  background-image: url("https://prettygoodcoop.s3-us-west-1.amazonaws.com/assets/white_rock_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userpageBanner__credit {
  position: absolute;
  left: 10px;
  top: 25px;
  font-size: 8px;
  color: white;
}

.userpageBanner__logo {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 100px;
  height: 240px;
  background-image: url("https://i.imgur.com/sMwdZWS.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.userpageContent__Desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homeSpinner {
  background-image: url("https://prettygoodcoop.s3-us-west-1.amazonaws.com/assets/buhk_spin.png");
  z-index: 50;
  height: 300px;
  width: 300px;
  margin-top: 50px;

  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@media (max-width: 900px) {
  .userpageContainer {
    height: 100%;
  }

  .userpageBanner {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    background-image: url("https://prettygoodcoop.s3-us-west-1.amazonaws.com/assets/white_rock_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .userpageBanner__logo {
    position: absolute;
    width: 100px;
    height: 200px;
    background-image: url("https://i.imgur.com/sMwdZWS.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .userpageContent__Mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
